nav {
  background-color: rgb(61, 61, 61);
  font-size: 18px;
  text-transform: capitalize;
  padding: .25em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

a {
  text-decoration: none;
  padding: .5em 1em;
  color: rgb(201, 209, 217);
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(88, 166, 255);
}

div  {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: capitalize;
}

.login-container {
  margin-right: 1em;
}

p {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: capitalize;
}
